/* -------- GLOBAL RULES -------- */

* {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', Helvetica, sans-serif;
	scroll-behavior: smooth;
}

html {
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	background-color: black;
	margin: 0;
	padding: 0;
    height: 100vh;
}

/* -------- CSS VARIABLES-------- */

:root{

    --primary-color: #E10600; /* Primary brand color token */

    --button-padding: 1rem;  /* Button padding token */

    /* Font Size */
  
    --font-size-medium: 16px; /* Medium text size token */

    /* Column Width Rules */

    --col-xl: 100%;

    --col-large: 75%;

    --col-medium: 50%;

    --col-small: 25%;

    /* Section Padding Rules */

    --section-vert-padding-xl: 120px;

    --section-vert-padding-large: 104px;

    --section-padding-medium: 96px;

    --section-padding-small: 80px;

    /* Column Padding Rules */

    --col-padding-standard: 28px;

    --col-padding-mobile: 20px;

    /* Content Wrapper Padding */

    --content-wrapper-inside-padding: 28px;

    --content-wrapper-inside-padding-sm: 20px;

    /* Gap */

    --col-gap: max(1.75em, 1.75vw);

    --color-border: rgba(var(--color-border-rgb), 0.225);

    --color-border-rgb: 159, 161, 163;
}

/* -------- BREAKPOINTS -------- */

/* XL: 1121px - 1920px and above */
@media (min-width: 1121px) {
    /* Your styles for XL screens go here */
  }
  
/* Large: 881px - 1120px */
@media (min-width: 881px) and (max-width: 1120px) {
    /* Your styles for Large screens go here */
  }
  
/* Medium: 601px - 880px */
@media (min-width: 601px) and (max-width: 880px) {
    /* Your styles for Medium screens go here */
  }
  
/* Small: 320px - 600px */
@media (min-width: 320px) and (max-width: 600px) {
    /* Your styles for Small screens go here */
  }


/* -------- BACKGROUND GRID -------- */

.grid{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 var(--col-gap);
    display: flex;
    justify-content: space-between;
    z-index: 800;
    pointer-events: none;
    user-select: none;
}

.grid .grid-line {
    width: 1px;
    flex-shrink: 0;
    flex-grow: 0;
    background: var(--color-border);
}

/* -------- FLEX ROW RULES -------- */

.row-wrapper{
    color: tranparent;
}

/* -------- FLEX COLUMN RULES -------- */

.col-xl{
    color: tranparent;
}

.col-large{
    color: tranparent;
}

.col-medium{
    color: tranparent;
}

.col-small{
    color: tranparent;
}

/* -------- CONTENT WRAPPERS -------- */

.content-wrapper{
    color: tranparent;
}

.content-wrapper-large{
    color: tranparent;
}

.content-wrapper-medium{
    color: tranparent;
}

.content-wrapper-small{
    color: tranparent;
}


/* -------- BUTTONS -------- */

.button-col-small{
    color: tranparent;
}