/* -------------------- */
/*---- Sentinel Pro ----*/
/* -------------------- */

@font-face {
    font-family: 'Sentinel';
    src: url('../fonts/sentinel-pro/OTF/SentinelSSm-Black-Pro.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sentinel';
    src: url('../fonts/sentinel-pro/OTF/SentinelSSm-Bold-Pro.otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sentinel';
    src: url('../fonts/sentinel-pro/OTF/SentinelSSm-Semibold-Pro.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sentinel';
    src: url('../fonts/sentinel-pro/OTF/SentinelSSm-Medium-Pro.otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sentinel';
    src: url('../fonts/sentinel-pro/OTF/SentinelSSm-Book-Pro.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sentinel';
    src: url('../fonts/sentinel-pro/OTF/SentinelSSm-Light-Pro.otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* -------------------------------- */
/*-------- Ringside Extra Wide -----*/
/* -------------------------------- */

@font-face {
    font-family: 'Ringside Extra Wide';
    src: url('../fonts/ringside/otf/RingsideExtraWide-Thin.otf') format('opentype'),
         url('../fonts/ringside/woff2/RingsideExtraWide-Thin.woff2') format('woff2'),
         url('../fonts/ringside/woff/RingsideExtraWide-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ringside Extra Wide';
    src: url('../fonts/ringside/otf/RingsideExtraWide-Light.otf') format('opentype'),
         url('../fonts/ringside/woff2/RingsideExtraWide-Light.woff2') format('woff2'),
         url('../fonts/ringside/woff/RingsideExtraWide-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ringside Extra Wide';
    src: url('../fonts/ringside/otf/RingsideExtraWide-Regular.otf') format('opentype'),
         url('../fonts/ringside/woff2/RingsideExtraWide-Regular.woff2') format('woff2'),
         url('../fonts/ringside/woff/RingsideExtraWide-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ringside Extra Wide';
    src: url('../fonts/ringside/otf/RingsideExtraWide-Medium.otf') format('opentype'),
         url('../fonts/ringside/woff2/RingsideExtraWide-Medium.woff2') format('woff2'),
         url('../fonts/ringside/woff/RingsideExtraWide-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ringside Extra Wide';
    src: url('../fonts/ringside/otf/RingsideExtraWide-Semibold.otf') format('opentype'),
         url('../fonts/ringside/woff2/RingsideExtraWide-Semibold.woff2') format('woff2'),
         url('../fonts/ringside/woff/RingsideExtraWide-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ringside Extra Wide';
    src: url('../fonts/ringside/otf/RingsideExtraWide-Bold.otf') format('opentype'),
         url('../fonts/ringside/woff2/RingsideExtraWide-Bold.woff2') format('woff2'),
         url('../fonts/ringside/woff/RingsideExtraWide-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ringside Extra Wide';
    src: url('../fonts/ringside/otf/RingsideExtraWide-ExtraBold.otf') format('opentype'),
         url('../fonts/ringside/woff2/RingsideExtraWide-ExtraBold.woff2') format('woff2'),
         url('../fonts/ringside/woff/RingsideExtraWide-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ringside Extra Wide';
    src: url('../fonts/ringside/otf/RingsideExtraWide-Black.otf') format('opentype'),
         url('../fonts/ringside/woff2/RingsideExtraWide-Black.woff2') format('woff2'),
         url('../fonts/ringside/woff/RingsideExtraWide-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* -------------------------- */
/*-------- Ringside Wide -----*/
/* -------------------------- */

@font-face {
    font-family: 'Ringside Wide';
    src: url('../fonts/ringside/otf/RingsideWide-Thin.otf') format('opentype'),
         url('../fonts/ringside/woff2/RingsideWide-Thin.woff2') format('woff2'),
         url('../fonts/ringside/woff/RingsideWide-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ringside Wide';
    src: url('../fonts/ringside/otf/RingsideWide-Light.otf') format('opentype'),
         url('../fonts/ringside/woff2/RingsideWide-Light.woff2') format('woff2'),
         url('../fonts/ringside/woff/RingsideWide-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ringside Wide';
    src: url('../fonts/ringside/otf/RingsideWide-Regular.otf') format('opentype'),
         url('../fonts/ringside/woff2/RingsideWide-Regular.woff2') format('woff2'),
         url('../fonts/ringside/woff/RingsideWide-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ringside Wide';
    src: url('../fonts/ringside/otf/RingsideWide-Medium.otf') format('opentype'),
         url('../fonts/ringside/woff2/RingsideWide-Medium.woff2') format('woff2'),
         url('../fonts/ringside/woff/RingsideWide-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ringside Wide';
    src: url('../fonts/ringside/otf/RingsideWide-Bold.otf') format('opentype'),
         url('../fonts/ringside/woff2/RingsideWide-Bold.woff2') format('woff2'),
         url('../fonts/ringside/woff/RingsideWide-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ringside Wide';
    src: url('../fonts/ringside/otf/RingsideWide-Black.otf') format('opentype'),
         url('../fonts/ringside/woff2/RingsideWide-Black.woff2') format('woff2'),
         url('../fonts/ringside/woff/RingsideWide-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}