.hero{
    position: relative;
    height: 100vh;
    justify-content: space-between;
    padding-top: calc(var(--container-padding) + var(--nav-height));
}

.hero-content{
    justify-content: space-between;
    row-gap: var(--col-gap);
}



/* Medium: 601px - 880px */
@media (min-width: 601px) and (max-width: 880px) {
    /* Your styles for Medium screens go here */
    .intro-content{
        width: var(--col-span-all);
    }

    .row-inner.hero-content{
        flex-direction: column-reverse;
    }
}


/* Small: 320px - 600px */
@media (min-width: 320px) and (max-width: 600px) {
    /* Your styles for Small screens go here */
    .row-inner.hero-content{
        flex-direction: column-reverse;
    }
}


/* ---- HERO BACKGROUND GRADIENT ---- */

.bg-gradient-wrapper{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
}

.bg-gradient-red{
    top: 0%;
    left: 100%;
    transform: translate(-50%, -50%) scale(1.5, 1);
    opacity: 0.5;
    --gradient-size: calc(var(--title-size) * 12);
    width: var(--gradient-size);
    height: var(--gradient-size);
    background: radial-gradient(circle, #E10600 0%, rgba(var(--color-dark-rgb), 0) 66%);
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    z-index: 0;
}

.bg-gradient-philosophy{
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%) scale(1.5, 1);
    opacity: 0.5;
    --gradient-size: calc(var(--title-size) * 12);
    width: var(--gradient-size);
    height: var(--gradient-size);
    background: radial-gradient(circle, #4A44F2 0%, rgba(var(--color-dark-rgb), 0) 55%);
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    z-index: 801;
}

/* LOGO ROW STYLES */

.logo-row-wrapper{
    display: flex;
    flex-flow: row wrap;
    padding-top: calc(var(--container-padding) * 4);
    padding-bottom: calc(var(--container-padding) * 4);
}

.logo-col{
    display: flex;
    flex-direction: column;
    width: var(--single-grid-col);
    gap: var(--col-gap);
    padding: var(--container-padding) 0;
    border: solid var(--color-border);
    border-width: 1px 0;
}

img.customer-logo {
    height: 48px;
}

/* Small: 320px - 600px */
@media (min-width: 320px) and (max-width: 600px) {
    /* Your styles for Small screens go here */
    .logo-col{
        width: var(--col-medium);
    }
}

/* Our Philosophy Section */

.philosophy-wrapper{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    padding-top: calc(var(--container-padding) * 4);
    padding-bottom: calc(var(--container-padding) * 4);
    overflow: visible;
    align-items: center;
}

.col-monogram{
    display: flex;
    width: var(--col-span-2);
    justify-content: center;
}

.nbd-monogram{
    width: 80%;
}

.col-philosophy{
    width: var(--col-span-2);
}

/* Medium & Small: 320px - 880px */
@media (min-width: 320px) and (max-width: 880px) {
    /* Your styles for Medium screens go here */
    .philosophy-wrapper{
        flex-direction: column;
        gap: calc(var(--col-gap) * 2);
    }

    .col-philosophy{
        width: var(--col-span-all);
    }

    .col-monogram{
        width: var(--col-span-all);
    }
}


/* Services MArquee Section */

.col-marquee{
    display: flex;
    flex-flow: row nowrap;
    width: var(--col-span-all);
    overflow-x: clip;
    padding-top: calc(var(--container-padding) * 4);
    padding-bottom: calc(var(--container-padding) * 4);
}

.marquee-text-track{
    display: flex;
    width: max-content;
    padding-left: var(--col-gap);
    gap: var(--col-gap);
    animation: marquee-move-text 40s linear infinite;
    animation-play-state: pause;
}

.marquee-text{
    white-space: nowrap;
}

@keyframes marquee-move-text{
    to {
        transform: translateX(-50%);
    }
}

/* Recent Work Section */

.recent-work-heading{
    display: flex;
    width: var(--col-span-all);
    border: solid var(--color-border);
    border-width: 0 0 1px 0;
    padding: var(--col-gap) 0;
}

/* Case Study Cards */

.case-study-wrapper{
    flex-flow: row wrap;
}

.case-study-col{
    display: flex;
    flex-flow: column;
    width: var(--single-grid-col);
    padding: var(--col-gap);
    gap: calc(var(--col-gap) / 2);
}

.case-study-card{
    display: flex;
    justify-content: center;
    max-height: 560px;
    overflow: hidden;
    border-radius: var(--border-radius-medium);
    aspect-ratio: 41 / 56;
}

.case-study-card img{
    max-height: 100%;
    width: auto;
    margin: auto;
}

.case-study-details{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

