* {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', Helvetica, sans-serif;
	scroll-behavior: smooth;
}

html {
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	background-color: black;
	margin: 0;
	padding: 0;
}

.emblem-container {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.emblem-trigger {
	position: absolute;
	width: 200px;
	height: 200px;
	bottom: 40px;
	right: 40px;
}

.emblem {
	width: 200px;
	z-index: 999;
}

p {
	color: #FFFDED;
	font-weight: 700;
	font-size: 2rem;
}

footer {
	display: none;
}



/* CONTENT WRAPPER RESPONSIVE PADDING */
/*-- Main Content Wrapper Padding Declarations -- Use in <divs> and <sections> but never on <body> --*/

.content-wrapper {
	padding-left: max(((100vw - 1320px) / 2), 80px);
	padding-right: max(((100vw - 1320px) / 2), 80px);
}

/* Not entirely necessary, the main declaration handles this viewport size at 80px */
@media screen and (max-width: 1040px) and (min-width: 769px) {
	.content-wrapper {
		padding: 0 64px;
	}
}

@media screen and (max-width: 768px) and (min-width: 491px) {
	.content-wrapper {
		padding: 0 32px;
	}
}

@media screen and (max-width: 490px) {
	.content-wrapper {
		padding: 0 20px;
	}
}

/* MAIN HERO CONTENT/LAYOUT STYLES */
/* Main Hero Content Styles Including Content Layout and Container Styling */

.layer-1 {
	z-index: 999;
}

.hero-copy-container {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100vh;
	top: 0;
	color: #FFFDED;
	gap: 56px;
	/* align-items: center; */
	justify-content: center;
}

.goodbye {
	text-align: left;
}

.boring {
	text-align: right;
}

.services {
	max-width: 648px;
}


/* GRID PAGE STYLES */
/* inner background grid container */

.grid-parent-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(100% / 16), 1fr));
	overflow: hidden;
	/* background-color: rgb(22, 22, 22); */
}

.grid-mask {
	mask-image: radial-gradient(50% 50% at 50% 50%, #000 50%, rgba(0, 0, 0, 0.00) 100%);
	-webkit-mask-image: radial-gradient(50% 50% at 50% 50%, #000 50%, rgba(0, 0, 0, 0.00) 100%);
}

[class^="item"] {
	/* min-height: 100px;
min-width: 100px; */
	border: 0.5px solid rgba(53, 53, 53, 1);
	/* aspect-ratio: 1; */
}

.bg-grid-container {
	height: 100vh;
	display: grid;
	overflow: hidden;
}

/* GRID CELL STYLING */

.item-23,
.item-121 {
	background: rgba(255, 199, 0, 0.25);
}

.item-45,
.item-85 {
	background: rgba(255, 0, 0, 0.25);
}

.item-51,
.item-91 {
	background: rgba(0, 13, 255, 0.25);
}

.layer-3 {
	margin-top: -100vh;
	z-index: 0;
}

.grid-wrapper {
	padding-left: max(((100vw - 1600px) / 2), 80px);
	padding-right: max(((100vw - 1600px) / 2), 80px);
	padding-top: max(((100vh - 90vh) / 2), 80px);
	padding-bottom: max(((100vh - 90vh) / 2), 80px);
	transform: perspective(500px);
}

/* Not entirely necessary, the main declaration handles this viewport size at 80px */
@media screen and (max-width: 1040px) and (min-width: 769px) {
	.grid-wrapper {
		padding: 64px 64px;
	}

	.grid-parent-container {
		grid-template-columns: repeat(auto-fill, minmax(calc(100% / 12), 1fr));
	}
}

@media screen and (max-width: 768px) and (min-width: 491px) {
	.grid-wrapper {
		padding: 32px 32px;
	}

	.grid-parent-container {
		grid-template-columns: repeat(auto-fill, minmax(calc(100% / 8), 1fr));
	}
}

@media screen and (max-width: 490px) {
	.grid-wrapper {
		padding: 20px 20px;
	}

	.grid-parent-container {
		grid-template-columns: repeat(auto-fill, minmax(calc(100% / 7), 1fr));
	}
}

.say-title {
	display: inline-block;
	z-index: 999;
}

.goodbye-title {
	display: inline-block;
	z-index: 999;
}

.to-title {
	display: inline-block;
	z-index: 999;
}

.boring-title {
	display: inline-block;
	z-index: 999;
}

.period-title {
	color: #E10600;
	display: inline-block;
	z-index: 999;
}

.period {
	color: #E10600;
}

#grid-bg {
	display: flex;
	flex-direction: column;
	background-color: black;
	margin: 0;
	padding: 0;
}

/* ---------- Logo Row Styles, Scroll Animation in script.js ---------- */

.logos {
	overflow: hidden;
	white-space: nowrap;
	padding: 120px 120px;
}

.logos-slide {
	display: inline-block;
	/* animation: 50s slide infinite linear; */
}

.logos-slide img {
	height: 48px;
	margin: 0 104px;
}

/*-- Logo Row Tablet and Mobile Media Queries --*/

.logo-row-mask {
	mask-image: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, #000 15%, #000 85%, rgba(0, 0, 0, 0.00) 100%);
	-webkit-mask-image: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, #000 15%, #000 85%, rgba(0, 0, 0, 0.00) 100%);
}

@media screen and (max-width: 768px) and (min-width: 491px) {
	.logos {
		padding: 80px 40px;
	}

	.logo-row-mask {
		mask-image: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, #000 10%, #000 90%, rgba(0, 0, 0, 0.00) 100%);
		-webkit-mask-image: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, #000 10%, #000 90%, rgba(0, 0, 0, 0.00) 100%);
	}

	.logos-slide img {
		height: 32px;
		margin: 0 40px;
	}
}

@media screen and (max-width: 490px) {
	.logo-row-mask {
		mask-image: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, #000 5%, #000 95%, rgba(0, 0, 0, 0.00) 100%);
		-webkit-mask-image: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, #000 5%, #000 95%, rgba(0, 0, 0, 0.00) 100%);
	}

	.logos {
		padding: 40px 16px;
	}

	.logos-slide img {
		height: 28px;
		margin: 0 24px;
	}
}

/*----- Case Study Tile Styles -----*/

/* Container to define the flow of the content */
.nbd-section-container{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    padding: 200px 0;
    gap: 136px;
    align-items: center;
}

/* Container with image and cs details that link to cs page */
.nbd-cs-container{
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    position: relative;
    padding: 12px;
    justify-content: space-between;
    align-content: space-between;
    overflow: hidden;
}

.nbd-cs--large{
    max-width: 648px;
    max-height: 648px;
    aspect-ratio: 1/1;
}

.nbd-cs--medium{
    max-width: 312px;
    max-height: 312px;
	aspect-ratio: 1/1;
}


.nbd-cs-text-overlay{
    display: flex;
    flex-grow: 2;
    flex-flow: row nowrap;
    justify-content: space-between;
    z-index: 99;
}

.nbd-cs-button{
    display: flex;
    width: 80px;
    height: 80px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(5px);
    margin-left: auto;
    z-index: 99;
}

.nbd-cs-copy-container{
    flex-grow: 1;
    max-width: 536px;
}

.nbd-cs-image{
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
	transition: all 200ms;
}

.nbd-heading-section{
	max-width: 1080px;
	padding: 200px 0;
}

.nbd-services-heading{
	max-width: 1080px;
	padding: 200px 0;
	margin: auto;
}

.cs-01{
box-sizing: border-box;
}

.cs-02{
	position: absolute;
	height: 30%;
	right: 0;
	bottom: -96px;
}

.cs-03{
	position: absolute;
	height: 30%;
	right: 11.78%;
	top: -120px;
}

.cs-04{
box-sizing: border-box;
}

.cs-05{
	position: absolute;
	height: 30%;
	right: 16.9%;
	bottom: -96px;
}

.cs-06{
	position: absolute;
	height: 30%;
	right: 11.78%;
	top: -80px;
}

.cs-07{
box-sizing: border-box;
}

/* Hover States */

.nbd-cs-container:hover .nbd-cs-image{
	top: 50%;
    left: 50%;
	transform: scale(1.05) translate(-47.5%, -47.5%);
	filter: blur(4px);
	transition: all 200ms;
}