/* ----------------------------- */
/* ----- TYPOGRAPHY STYLES ----- */
/* ----------------------------- */

:root{
    
    /* Fonts */
    --display-font-family: "Ringside Extra Wide", Helvetica, sans-serif;
    --heading-font-family: "Ringside Wide", Helvetica, sans-serif;
    --body-font-family: "Ringside Wide", Helvetica, sans-serif;

    /* Font Sizes */
    --display-font-size-xl: clamp(3rem, 7vw + 1.6rem, 10rem);
    --display-font-size-l: clamp(2.25rem, 6.75vw + 0.9rem, 9rem);
    --display-font-size-m: clamp(2rem, 5vw + 1rem, 7rem);
    --display-font-size-sm: clamp(1.75rem, 4.25vw + 0.9rem, 6rem);
    --display-font-size-xs: clamp(1.5rem, 2.5vw + 1rem, 4rem);

    --heading-font-size-xl: clamp(1.5rem, 1.5vw + 1.2rem, 3rem);
    --heading-font-size-l: clamp(1.375rem, 1.125vw + 1.15rem, 2.5rem);
    --heading-font-size-m: clamp(1.25rem, 0.75vw + 1.1rem, 2rem);
    --heading-font-size-sm: clamp(1.125rem, 0.375vw + 1.05rem, 1.5rem);
    --heading-font-size-xs: clamp(0.875rem, 0.125vw + 0.85rem, 1rem);

    --body-copy-xl: clamp(1.25rem, 0.75vw + 1.1rem, 2rem);
    --body-copy-l: clamp(1.125rem, 0.625vw + 1rem, 1.75rem);
    --body-copy-m: clamp(1rem, 0.5vw + 0.9rem, 1.5rem);
    --body-copy-s: clamp(0.938rem, 0.313vw + 0.875rem, 1.25rem);
    --body-copy-xs: clamp(0.875rem, 0.125vw + 0.85rem, 1rem);
    --body-copy-xxs: clamp(0.625rem, 0.188vw + 0.588rem, 0.813rem);


    /* Font Weight */
    --display-font-weight: 700;
    --heading-font-weight: 500;
    --light-font-weight: 300;
    --body-font-weight: 100;


    /* Line Height */
    --display-line-height: 1.1;
    --heading-line-height: 1.3;
    --body-line-height: 1.5;

    /* Letter Spacing */
    --display-letter-spacing: -0.06em;
    --heading-letter-spacing: -0.04em;
    --body-letter-spacing: -0.02em;


    --font-size-medium: 16px;
    /* Medium text size token */
}

/* --- DISPLAY --- */

.display-xl {
    font-family: var(--display-font-family), sans-serif;
    font-size: var(--display-font-size-xl);
    line-height: var(--display-line-height);
    letter-spacing: var(--display-letter-spacing);
    font-weight: var(--display-font-weight);
    word-spacing: 0.05em;
}

.display-l {
    font-family: var(--display-font-family), sans-serif;
    font-size: var(--display-font-size-l);
    line-height: var(--display-line-height);
    letter-spacing: var(--display-letter-spacing);
    font-weight: var(--display-font-weight);
    word-spacing: 0.06em;
}

.display-m {
    font-family: var(--display-font-family), sans-serif;
    font-size: var(--display-font-size-m);
    line-height: var(--display-line-height);
    letter-spacing: var(--display-letter-spacing);
    font-weight: var(--display-font-weight);
    word-spacing: 0.06em;
}

.display-sm {
    font-family: var(--display-font-family), sans-serif;
    font-size: var(--display-font-size-sm);
    line-height: var(--display-line-height);
    letter-spacing: var(--display-letter-spacing);
    font-weight: var(--display-font-weight);
    word-spacing: 0.06em;
}

.display-xs {
    font-family: var(--display-font-family), sans-serif;
    font-size: var(--display-font-size-xs);
    line-height: var(--display-line-height);
    letter-spacing: var(--display-letter-spacing);
    font-weight: var(--display-font-weight);
    word-spacing: 0.06em;
}

/* --- HEADINGS --- */

.heading-xl {
    font-family: var(--heading-font-family);
    font-family: var(--heading-font-family), sans-serif;
    font-size: var(--heading-font-size-xl);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing);
    font-weight: var(--heading-font-weight);
}

.heading-l {
    font-family: var(--heading-font-family);
    font-family: var(--heading-font-family), sans-serif;
    font-size: var(--heading-font-size-l);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing);
    font-weight: var(--heading-font-weight);
}

.heading-m {
    font-family: var(--heading-font-family);
    font-family: var(--heading-font-family), sans-serif;
    font-size: var(--heading-font-size-m);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing);
    font-weight: var(--heading-font-weight);
}

.heading-sm {
    font-family: var(--heading-font-family);
    font-family: var(--heading-font-family), sans-serif;
    font-size: var(--heading-font-size-sm);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing);
    font-weight: var(--heading-font-weight);
}

.heading-xs {
    font-family: var(--heading-font-family);
    font-family: var(--heading-font-family), sans-serif;
    font-size: var(--heading-font-size-xs);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing);
    font-weight: var(--heading-font-weight);
}

/* --- BODY --- */

.body-xl {
    font-family: var(--body-font-family);
    font-size: var(--body-copy-xl);
    line-height: var(--body-line-height);
    font-weight: var(--body-font-weight);
    letter-spacing: var(--body-letter-spacing);
}

.body-l {
    font-family: var(--body-font-family);
    font-size: var(--body-copy-l);
    line-height: var(--body-line-height);
    font-weight: var(--body-font-weight);
    letter-spacing: var(--body-letter-spacing);
}

.body-m {
    font-family: var(--body-font-family);
    font-size: var(--body-copy-m);
    line-height: var(--body-line-height);
    font-weight: var(--body-font-weight);
    letter-spacing: var(--body-letter-spacing);
}

.body-sm {
    font-family: var(--body-font-family);
    font-size: var(--body-copy-s);
    line-height: var(--body-line-height);
    font-weight: var(--body-font-weight);
    letter-spacing: var(--body-letter-spacing);
}

.body-xs {
    font-family: var(--body-font-family);
    font-size: var(--body-copy-xs);
    line-height: var(--body-line-height);
    font-weight: var(--body-font-weight);
    letter-spacing: var(--body-letter-spacing);
}

.body-xxs {
    font-family: var(--body-font-family);
    font-size: var(--body-copy-xxs);
    line-height: var(--body-line-height);
    font-weight: var(--body-font-weight);
    letter-spacing: var(--body-letter-spacing);
}