/* -------- DM Sans -------- */
/* -------- DM Sans -------- */
/* -------- DM Sans -------- */

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-ExtraBlack.woff2') format('woff2');
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-ExtraBlackItalic.woff2') format('woff2');
  font-weight: 1000;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://21108760.fs1.hubspotusercontent-na1.net/hubfs/21108760/Web/Fonts/DMSans-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

.dmsans-extra-black {
  font-family: 'DM Sans';
  font-weight: 1000;
  font-style: normal;
}

.dmsans-extra-black-italic {
  font-family: 'DM Sans';
  font-weight: 1000;
  font-style: italic;
}

.dmsans-black {
  font-family: 'DM Sans';
  font-weight: 900;
  font-style: normal;
}

.dmsans-black-italic {
  font-family: 'DM Sans';
  font-weight: 900;
  font-style: italic;
}

.dmsans-extra-bold {
  font-family: 'DM Sans';
  font-weight: 800;
  font-style: normal;
}

.dmsans-extra-bold-italic {
  font-family: 'DM Sans';
  font-weight: 800;
  font-style: italic;
}

.dmsans-bold {
  font-family: 'DM Sans';
  font-weight: 700;
  font-style: normal;
}

.dmsans-bold-italic {
  font-family: 'DM Sans';
  font-weight: 700;
  font-style: italic;
}

.dmsans-semi-bold {
  font-family: 'DM Sans';
  font-weight: 600;
  font-style: normal;
}

.dmsans-semi-bold-italic {
  font-family: 'DM Sans';
  font-weight: 600;
  font-style: italic;
}

.dmsans-medium {
  font-family: 'DM Sans';
  font-weight: 500;
  font-style: normal;
}

.dmsans-medium-italic {
  font-family: 'DM Sans';
  font-weight: 500;
  font-style: italic;
}

.dmsans-regular {
  font-family: 'DM Sans';
  font-weight: 400;
  font-style: normal;
}

.dmsans-regular-italic {
  font-family: 'DM Sans';
  font-weight: 400;
  font-style: italic;
}

.dmsans-light {
  font-family: 'DM Sans';
  font-weight: 300;
  font-style: normal;
}

.dmsans-light-italic {
  font-family: 'DM Sans';
  font-weight: 300;
  font-style: italic;
}
